.vi {
color:blue;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}.vi {
color:red;
}
